html {
  background-color: honeydew;
  height: 100%;
}

body {
  background-image: url(../assets/madpizza.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: 80% 10%;
  height: 100%;
}

table, td, th {
  border: 1px solid;
  border-color:steelblue;
  text-align: left;
  background-color: RGBA(240, 255, 255, .5);
}

.taskHead, #taskIn {
  min-width: 20em;
}

.taskCompleted {
  text-decoration: line-through;
}

button {
  background-color:lightpink;
}

h2 {
  color: #000000;
  margin: .75ex;
}
.clearBox {
  margin: .75ex;
  background-color: RGBA(240,255,240, .5);
  border: 1px solid black;
  width:fit-content;
}