html {
  background-color: honeydew;
}

table, td, th {
  border: 1px solid;
  border-color:steelblue;
  text-align: left;
  background-color: azure;
}

.taskHead, #taskIn {
  min-width: 20em;
}

.taskCompleted {
  text-decoration: line-through;
}

button {
  background-color:lightpink;
}