html {
  /* background-color: honeydew; */
}

table, td, th {
  border: 1px solid;
  border-color:steelblue;
  text-align: left;
  background-color: azure;
}

.taskHead, #taskIn {
  min-width: 20em;
}

.taskCompleted {
  text-decoration: line-through;
}

button {
  background-color:lightpink;
}

#hero-image {
  height: 30em;
  background-image: url(../assets/ahowes83_pizza_dough_on_prep_table_floury_dslr_trending_on_Flickr.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(144, 144, 144);
}